<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fdt.portal.mapper.BillMapper">

    <resultMap id="BaseResultMap" type="com.fdt.common.model.entity.Bill">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="tradeNo" column="tradeNo" jdbcType="VARCHAR"/>
        <result property="outTradeNo" column="outTradeNo" jdbcType="VARCHAR"/>
        <result property="paySituation" column="paySituation" jdbcType="INTEGER"/>
        <result property="billName" column="billName" jdbcType="VARCHAR"/>
        <result property="billAmount" column="billAmount" jdbcType="DECIMAL"/>
        <result property="billType" column="billType" jdbcType="VARCHAR"/>
        <result property="billDesc" column="billDesc" jdbcType="VARCHAR"/>
        <result property="customerId" column="customerId" jdbcType="BIGINT"/>
        <result property="staffId" column="staffId" jdbcType="BIGINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tradeNo,outTradeNo,paySituation,billName,billAmount,
        billType,billDesc,customerId,staffId,
        createTime,updateTime,isDelete
    </sql>

    <insert id="insert" parameterType="com.fdt.common.model.entity.Bill"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO bill (customerId, staffId)
        VALUES (#{customerId}, #{staffId})
    </insert>

</mapper>
