<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fdt.portal.mapper.CustomerMapper">

    <resultMap id="BaseResultMap" type="com.fdt.common.model.entity.Customer">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="customerName" column="customerName" jdbcType="VARCHAR"/>
            <result property="customerSex" column="customerSex" jdbcType="VARCHAR"/>
            <result property="customerAge" column="customerAge" jdbcType="BIGINT"/>
            <result property="customerPhone" column="customerPhone" jdbcType="VARCHAR"/>
            <result property="customerEmail" column="customerEmail" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,customerName,customerSex,
        customerAge,customerPhone,customerEmail,
        userId,createTime,updateTime,
        isDelete
    </sql>
</mapper>
