<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fdt.portal.mapper.StoreMapper">

    <resultMap id="BaseResultMap" type="com.fdt.common.model.entity.Store">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="storeName" column="storeName" jdbcType="VARCHAR"/>
            <result property="storeAddress" column="storeAddress" jdbcType="VARCHAR"/>
            <result property="storePhone" column="storePhone" jdbcType="VARCHAR"/>
            <result property="storeEmail" column="storeEmail" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,storeName,storeAddress,
        storePhone,storeEmail,createTime,
        updateTime,isDelete
    </sql>
</mapper>
